:root {
  --ev-color-white: #fff;
  --ev-color-primary: #646cff;
  --ev-color-active: #ffa700;

  --ev-back-color: #242424;
  --el-back-primary: #047dd6;
  --el-back-dark: #858585;

  --ev-border-color: #34db25;
  --ev-border-light: #9d9fa0;
  --ev-border-radius: 4px;
}
