:root {
  --ev-color-white: #fff;
  --ev-color-primary: #646cff;
  --ev-color-head: #ffba3b;
  --ev-color-active: #ffa700;

  --ev-back-color: #1b2531;
  --ev-back-primary: #0572d7;
  --ev-back-dark: #858585;

  --ev-border-color: #bfc8d9;
  --ev-border-light: #9d9fa0;
  --ev-border-active: #ffa700;
  --ev-border-radius: 4px;
}
