@use './base.scss';
.el-collapse {
  --el-fill-color-blank: transparent;
  --el-text-color-primary: var(--ev-color-white);
  --el-border-color-lighter: var(--ev-border-color);
  border: none !important;
  .el-collapse-item__header {
    border-bottom: 1px dashed var(--ev-border-light);
    &.is-active {
      border-bottom: 1px solid var(--ev-border-light);
    }
  }
  .el-collapse-item__wrap {
    border-bottom: 1px solid var(--ev-border-light);
    .el-collapse-item__content {
      padding: 12px 6px;
    }
  }
}

.el-tabs {
  --el-bg-color-overlay: transparent;
  --el-fill-color-light: var(--ev-back-color);
  --el-border-color: var(--ev-border-color);
  --el-border-color-light: var(--ev-border-color);
  --el-color-primary: var(--ev-color-active);
}

.el-form {
  --el-text-color-regular: var(--ev-color-white);
}

.el-input {
  --el-border-color: var(--ev-border-color);
  .el-input__wrapper {
    background-color: transparent;
  }
}
