@use './base.scss';
@use './el-css.scss';
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

html,
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#app {
  width: 100vw;
  height: 100vh;
  color: #fff;
}

.border-all {
  border: 1px solid var(--ev-border-color);
  border-radius: var(--ev-border-radius);
}
.border-l {
  border-left: 1px solid var(--ev-border-color);
}
.border-r {
  border-right: 1px solid var(--ev-border-color);
}
.border-t {
  border-top: 1px solid var(--ev-border-color);
}
.border-b {
  border-bottom: 1px solid var(--ev-border-color);
}

.close-btn {
  background: none;
  border: none;
  font-size: 26px;
  cursor: pointer;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--ev-color-white);
  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

/* 滚动条 */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* 滚动条边角 */
::-webkit-scrollbar-corner {
  width: 0;
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  padding: 0px 2px;
  background: transparent;
}

::-webkit-scrollbar-track:hover {
  background: rgba(255, 255, 255, 0.04);
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  border: 4px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  border: 2px solid transparent;
}
